.wrapper {
    color: currentColor;
    display: block;
    position: relative;
    font: inherit;
    text-transform: capitalize;
    display: flex;
    gap: 20px;
    align-items: baseline;
    /*
        this overflow for decoration purposes
    */
    overflow: hidden;
}

.wrapper div {
    position: relative;

}

.wrapper span {
    display: block;
}