.wrapper {
    width: 100%;
    max-width: var(--max-width-content);
    margin: auto;
}

.header {
    display: flex;
    align-items: baseline;
    gap: 16px;
    text-transform: capitalize;
}

.header h2 {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: auto;
}


.content {
    margin-block: 20px;
    min-height: 150px;
}

.paragraph {
    text-align: center;
}

.pdfWrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 300px), 1fr));
    gap: 25px;
}