/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}


:root {
  --color-secondary: hsl(273deg 85% 13%);
  --color-primary: hsl(150deg 100% 63%);
  --color-gray-400: hsl(271deg 12% 34%);
  --color-gray-600: hsl(276deg 100% 99%);
  --color-white: hsl(0deg 0% 100%);
  /* 
break points 65rem , 45rem
*/
  --max-width-content: 69rem;

}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  list-style: none;
}

body {
  position: relative;
  font-family: var(--font-family);
  background-color: var(--color-secondary);
}

h1 {
  font-size: 1.75rem;
  font-weight: 650;
}

h2 {
  font-size: 1.5rem;
  margin-top: 2em;
  margin-bottom: 0.5em;
  font-weight: 600;
}

h3 {
  font-size: 1.25rem;
  margin-top: 2em;
  margin-bottom: 0.5em;
  font-weight: 500;
}

p {
  font-size: 1.25rem;
  margin-bottom: 1.5em;
}

@media (min-width: 35rem) {
  h1 {
    font-size: 2.50rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  h3 {
    font-size: 1.5rem;
  }
}

@media (min-width: 60rem) {
  h1 {
    font-size: 2.75rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.75rem;
  }
}

.btn {
  color: var(--color-white);
  border-color: transparent;
  border-bottom: 1px solid var(--color-primary);
  transition: color 450ms ease-out;
  cursor: pointer;
  background-color: transparent;
  margin-left: auto;
}

.btn:hover {
  color: var(--color-primary);
}

.dashboard__wrraper {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 20px;
}