.wrapper {

  color: var(--color-white);
  width: 100%;
  max-width: var(--max-width-content);
  margin-inline: auto;
  margin-block: 50px;
  display: grid;
  place-content: center;
  text-transform: uppercase;
  text-align: center;
  position: relative;

}

.heading {
  font-family: var(--font-family);
  margin-bottom: 1.5rem;
}

.heading span {
  border-bottom: 1px solid var(--color-primary);
}

.button {
  display: block;
  padding: 8px 16px;
  text-transform: capitalize;
  color: var(--color-secondary);
  background-color: var(--color-primary);
  transition: all 450ms;
  width: fit-content;
  border-radius: 10px;
  margin: 0 auto;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  border: 1px solid transparent;
}

.button:hover {
  color: var(--color-primary);
  background-color: transparent;
  border-color: var(--color-primary);
  transition: all 250ms;
}

.imageWrapper {
  position: absolute;
  width: 400px;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, calc(100% + 50px));

}