.wrapper {
    background-color: var(--color-gray-600);
    width: 100%;
}

.features {
    margin-block: 50px;
    width: 100%;
    max-width: var(--max-width-content);
    margin: 0 auto;
    padding-block: 20px;
    padding-inline: 16px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 320px), 1fr));
    text-align: center;

    @media screen and (min-width: 33rem) {
        padding-inline: 32px;
    }
}

.features p {
    hyphens: auto;

    @media screen and (min-width: 45rem) {
        text-align: start;
    }
}

.features h2 {
    text-transform: capitalize;
}