.wrapper {
    --shadow-color: 0deg 0% 63%;
    --shadow-elevation-low: -0.2px -0.2px 0.3px hsl(var(--shadow-color) / 0.34),
        -0.3px -0.4px 0.6px -1.2px hsl(var(--shadow-color) / 0.34),
        -0.7px -1px 1.4px -2.5px hsl(var(--shadow-color) / 0.34);
    --shadow-elevation-medium:
        0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
        0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
        2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
        5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
    display: block;
    /* padding: 1rem  0; */
    border-radius: 10px;
    color: var(--color-secondary);
    box-shadow: var(--shadow-elevation-medium);

    & h3 {
        margin-top: 0px;
        padding: 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

}

.content {
    border-top: 1px solid hsl(0deg 0% 63%);
    padding-block: 15px;
    padding-inline: 24px;
    margin-block: 10px;
    display: flex;
    gap: 16px;
    justify-content: space-between;
    align-items: center;
    box-shadow: var(--shadow-elevation-low);

    & p {
        margin-bottom: 0;
    }
}


.btn {
    color: tomato;
    font-size: 1.3rem;
    font-weight: 500;
    text-transform: capitalize;
    border-bottom-color: var(--color-secondary);
}

.btn:hover {
    color: tomato;
    border-bottom-color: tomato;
}